<!-- each category page -->
{% if page.type %}
<div class="archive">
  <p class="archive_type">{{ page.type }}</p>
  <ul>
    {% for post in site.categories[page.type] %}
    {% if post.url %}
    <li>
        <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
          {{ post.date | date: "%b %-d, %Y" }}
        </time>
        <div class='archive_title'>
          <a href='{{ post.url | relative_url }}'>
            {{ post.title | escape }}
          </a>
        </div>
      </li>
    {% endif %}
    {% endfor %}

  </ul>
</div>

<!-- main page -->
{% else %}
<div class="archive">
  {% for post in site.posts %}
  {% unless post.next %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% else %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% capture nextyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
  {% if year != nextyear %}
  <p class="archive_year">{{ post.date | date: '%Y' }}</p>
  {% endif %}
  {% endunless %}

  <ul>
    <li>
      <time class='archive_date' datetime='{{ post.date | date_to_xmlschema }}'>
        {{ post.date | date: "%b %d" }}
      </time>
      <div class='archive_title'>
        <a href='{{ post.url | relative_url }}'>
          {{ post.title | escape }}
        </a>
      </div>
    </li>
  </ul>
  {% endfor %}
</div>

<h3>My GitHub Projects</h3>
<ul id="repos-list"></ul>
<script>
    const username = 'EavenWang'; // 替换为GitHub 用户名
    const url = `https://api.github.com/users/${username}/repos`;

    fetch(url)
        .then(response => response.json())
        .then(repos => {
            const reposList = document.getElementById('repos-list');
            repos.forEach(repo => {
                const li = document.createElement('li');
                li.innerHTML = `<a href="${repo.html_url}" target="_blank">${repo.name}</a>` +
                (repo.description ? `: ${repo.description}` : '');
                reposList.appendChild(li);
            });
        })
        .catch(error => console.error('Error fetching repos:', error));
</script>

{% endif %}

